.nav-container {
    padding: 5px 30px;
    display: block;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #a66800;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav li {
    list-style: none;
}
.nav li>a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}