@media (max-width: 1872px) {
    body {
        max-width: 90%;
        align-items: center;
        align-content: center;
        padding-right: 5%;
        padding-left: 5%;
    }
}
@media (min-width: 1872px) {
    body {
        max-width: 100%;
        align-items: center;
        padding: 0;
    }
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(rgba(255, 214, 64, 0.4), rgba(255, 225, 115, 0.2), white);
    margin: 0;
}
main {
    padding: 20px;
}
.section-title {
    text-align: center;
}
.photos>figure {
    width: 500px;
    padding: 5px;
    margin: 15px;
}
figcaption {
    text-align: center;
}
img {
    width: 500px;
    height: 350px;
}
img:hover {
    width: 505px;
    height: 355px;
}
.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}