@media (max-width: 1872px) {
    body {
        max-width: 90%;
        align-items: center;
        align-content: center;
        padding-right: 5%;
        padding-left: 5%;
    }
}
@media (min-width: 1872px) {
    body {
        max-width: 100%;
        align-items: center;
        padding: 0;
    }
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(rgba(255, 214, 64, 0.4), rgba(255, 225, 115, 0.2), white);
    margin: 0;
}
main {
    padding: 20px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.table-title {
    text-align: center;
}